* {
    background-color: rgb(20, 20, 20);
    margin: 0px;
  }
  
  #helperL {
    height: 100vh;
    align-items: center;
    display: flex;
  }
  
  .helpitem {
    color: white;
    font-size: clamp(3rem, 8vw, 8rem);
    display: block;
    text-decoration: none;
    padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;
    transition: opacity 400ms ease;
  }
  
  #helper {
    margin-left: clamp(4rem, 20vw, 48rem);
  }
  
  #helper:hover > .helpitem {
    opacity: 0.3;
  }
  
  #helper:hover > .helpitem:hover {
    opacity: 1;
  }